/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/03/2017, 07:34:21
    Author     : Henrique Connect
*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
#imglogo{
    height: 50px;
    margin: 8px auto auto 20px;
}
.nav-extended{
    background-color: #006993;
}

.page-footer{
    background-color: #006993;
    margin-bottom: 0;
}
.card{
    max-width: 600px;
    margin: 50px auto;
}
.row .card{
    max-width: 800px;
    margin: 10px auto;
}
.imgresposta{
    width: auto;
    max-width: 400px;
}
